{% extends "pages/base.html" %}
{% block title %} Страница про музыка {% endblock %}
{% block content %}
    <h1>Страны</h1>
    <ul>
        {% for country in countries %}
            <li>{{ country }}</li>
        {% endfor %}
    </ul>
    <h1>Артисты</h1>
    <ul>
    {% for art in artists %}
        <li>
            <h2>{{ art.name }}</h2>
            <p>{{ art.country }}</p>
            <a href="/artist/{{art.id}}" class="btn btn-success">Посмотреть страницу артиста</a>
        </li>
    {% endfor %}
        <br>
        <a href="{% url 'add_artist' %}" class="btn btn-warning">Добавить архитектора</a>
    </ul>
    <h1>Альбом</h1>
    <ul>
    {% for album in albums %}
        <li>
            <h2>{{ album.name }}</h2>
            <p>Кол-во песен: {{ album.number }}</p>
            <p>Артист: {{ album.artist }}</p>
            <a href="/album/{{album.id}}" class="btn btn-success">Посмотреть страницу стиля</a>
        </li>
    {% endfor %}
        <br>
        <a href="{% url 'add_album' %}" class="btn btn-warning">Добавить стиль</a>
    </ul>
    <h1>Музыка</h1>
    <ul>
    {% for s in songs %}
        <li>
            <h2>{{ s.name }}</h2>
            <p>{{ s.artist }}, {{ s.album }}</p>
            <p>Длительность - {{ s.length }}</p>
        </li>
    {% endfor %}
        <br>
        <a href="{% url 'add_song' %}" class="btn btn-warning">Добавить строение</a>
    </ul>
{% endblock %}
